.section-head-wrapper {
    width: 100%;
    height: 740px;
    background: url(./assets/background.png) no-repeat center center;
    background-size: cover;
    padding-top: 125px;
    font-family: 'Segoe UI';
    
}

.section-head-wrapper h1 {
    font-weight: lighter;
    color: #FFFFFF;
    font-size: 115px;
    line-height: 120px;
    text-align: center;
}

.section-head-wrapper div {
    text-align: center;
    margin-top: 86px;
    text-decoration: none;
}

.section-head-wrapper div a {
    text-decoration: none;
    color: #878787;
}