header {
  display: flex;
  height: 61px;
  width: 100%;
  background-color: #303030;
  align-items: center;
  transition: 0.8s;
}

header a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s;
}

.logo {
  margin-left: 24px;
}

.navigation {
  margin-left: 40px;
}

.navigation a {
  margin-right: 24px;
}

.navigation a:hover {
  border: 1px solid white;
  border-radius: 20px;
  padding: 0px 10px;
  background-color: #ffffff2e;
}

.login-wrapper {
  display: flex;
  margin-left: auto;
}

.login a {
  margin-right: 24px;
}

.login a:hover {
  border: 1px solid white;
  border-radius: 20px;
  padding: 0px 10px;
  background-color: #ffffff2e;
}

.socials {
  margin-right: 20px;
}

.socials a{
  margin-left: 16px;
}


@media (max-width: 1000px) {
  header {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
  }
  .login-wrapper {
    display: block;
  }
  .login {
    margin: 10px;
  }
   .login a {
    margin: 10px;
  }
  .socials {
    margin: 0;
  }
}

